
 <app-navbar></app-navbar>
 <app-home></app-home>
 <app-footer></app-footer>

 <!--
 binding ----

 type of one way binding
  1- data interpolation
  2- property binding
  3- event binding
  4- class binding
  5- style binding
 -->
<!-- 
 <div class="container">
  <div class="text-center  "> -->

    <!-- <h2> hellow my name is {{userName}}</h2> -->
      <!--
     <h2 [style.background]="userAge>50?'#09c':'blue'"> hellow my name is {{userName}}</h2>
     <h2 [class]="userAge>50?'bg-danger':'bg-success'"> hellow my age is {{userAge}}</h2> -->
     <!-- <h2 [class.bg-danger]="userAge>50"> hellow my age is {{userAge}}</h2> -->
     <!-- <img [src]="imageUrl" alt="">
     <button (click)="changeAge()" class="btn btn-success">click </button> -->
     <!-- <input type="text"  (keyup)="changeName($event)" class="form-control w-25 border-info mx-auto"> -->
     <!-- <input type="text" [(ngModel)]="userName" class="form-control w-25 border-info mx-auto"> -->



  <!-- </div>
 </div> -->

