<div class="container">
  <div class="row">
<div class="col-md-4 col-lg-2">
<img class="w-100" [src]="products[0].imageUrl" alt="">
<p>{{products[0].title}}</p>
<p> {{products[0].price}} EG</p>
</div>
<div class="col-md-4 col-lg-2">
<img class="w-100" [src]="products[1].imageUrl" alt="">
<p>{{products[1].title}}</p>
<p> {{products[0].price}} EG</p>


</div>
<div class="col-md-4 col-lg-2">
  <img class="w-100" [src]="products[2].imageUrl" alt="">
  <p>{{products[2].title}}</p>
  <p> {{products[0].price}} EG</p>

</div>
<div class="col-md-4 col-lg-2">
  <img class="w-100" [src]="products[3].imageUrl" alt="">
  <p>{{products[3].title}}</p>
  <p> {{products[0].price}} EG</p>

</div>
<div class="col-md-4 col-lg-2">
  <img class="w-100" [src]="products[3].imageUrl" alt="">
  <p>{{products[3].title}}</p>
<p> {{products[0].price}} EG</p>

</div>
<div class="col-md-4 col-lg-2">
  <img class="w-100" [src]="products[3].imageUrl" alt="">
  <p>{{products[3].title}}</p>
<p> {{products[0].price}} EG</p>

</div>


  </div>
</div>
